<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="background-color:teal; color:white;" id="navbar">
        <h1><a href="http://localhost:5000/dashboard">HowHub</a></h1>
        <a href="http://localhost:5000/new/vid">Add Video</a>
        <a href="http://localhost:5000/profile">Profile</a>
        <a href="http://localhost:5000/logout">logout</a>
    </nav>
    <form action="/update/data/{{id}}", method="POST">
        {% with messages = get_flashed_messages() %}    
            {% if messages %}                        
                {% for message in messages %}     
                    <p>{{message}}</p>          
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>title</p>
        <input type="text" name="title">
        <p>description</p>
        <textarea name="description" cols="30" rows="5"></textarea>
        {% if 'video_id' not in session %}
            <input type="submit" value="Next">
        {% endif %}
    </form>
    <form action="/update/{{id}}" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept=".mp4">
        {% if 'video_id' in session %}
            <input type="submit" name="Upload">
        {% endif %}
        </form>
</body>
</html>